
<h1>Scrabble Score</h1>
<form action='/results'>
  <div class="form-group">
    <label for="total_score">Give us your word</label>
    <input id="total_score" name="total_score" class="form-control" type="text" autofocus>
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
