

body {
  margin: 0;
  background-image: url(../img/scrabble.jpg);
  background-size: 2000px 1000px;
  background-attachment:  fixed;
  display: compact;
  font-family: Futura;
  color: #660000;
}

img{
  float:right;
  padding:1px;
  border:1px solid #660000;
}
